.searchbar::-webkit-scrollbar {
    border-bottom-right-radius: 0.5rem !important;

}

.searchbar::-webkit-scrollbar-track {
    border-bottom-right-radius: 0.5rem !important;
}

.dark .searchbar::-webkit-scrollbar-track {
    border-bottom-right-radius: 0.5rem !important;
}

.searchbar {
    display: none;
}

.searchInput:focus-within .searchbar {
    display: block;
}